@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lateef:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stint+Ultra+Expanded&family=Ultra&display=swap');
/*== Svg Logos Root Color==*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  --bg-trans: transparent;
  --font-dm: 'DM sans' , sans-serif;
  --font-blink: -apple-system, BlinkMacSystemFont, serif;
  --font-lateef: 'Lateef' , cursive;
  --font-inter: 'Inter' , sans-serif;
  --font-italic: 'Playfair Display' , serif;
  }


.theme-light {
  --color-primary-one: #662de0;
  --color-primary-two: #7941f2;
  --color-primary-three: #FF00FF;
  
  --bg-body: #EEF5FF;
  --bg-bars: #EEF5FF;
  --bg-page: #EAEEF6;
  --bg-view: #dae2eb;
  --bg-view-hover: #aabbcc;
  --bg-line: #6a76a8;
  --bg-page-footer: #cacefa;
  --bg-page-footer-end: #8189fc;

  
  --text-logo: #1C274C;
  --text-defa: #111;
  --text-title: #1C274C;
  --text-post: #2f3752;
  --text-title-post: #111111;
  --text-paragraph: #191919;
  --post-icon: #1C274C;
  }


.theme-dark {
  --color-primary-one: #1e90ff;
  --color-primary-two: #59a5f0;
  --color-primary-three: #8dffa5;
  
  --bg-body: #030B18;
  --bg-bars: #030B18;
  --bg-page: #0B101A;
  --bg-view: #2c3e50;
  --bg-view-hover: #112233;
  --bg-line: #cadced;
  --bg-page-footer: #0e0d29;
  --bg-page-footer-end: #060521;
  
  --text-logo: #4481e3;
  --text-defa: #fff;
  --text-title: #D9E7FD;
  --text-post: #d8d8eb;
  --text-list: #d8d8eb
  --text-title-post: #FFFFFF;
  --text-paragraph: #F1F1F1;
  --post-icon: #D9E7FD;
  }
